services:
  web:
    extends:
      file: docker-compose.base.yml
      service: web
    image: ghcr.io/chiballc/manyumba_web

  db:
    extends:
      file: docker-compose.base.yml
      service: db

  docs:
    environment:
      - NUXT_APP_BASE_URL=/docs/
    extends:
      file: docker-compose.base.yml
      service: docs
    image: ghcr.io/chiballc/manyumba_docs
    labels:
      - com.centurylinklabs.watchtower.enable="true"

  nginx:
    extends:
      file: docker-compose.base.yml
      service: nginx

volumes:
  postgres_data:
