@import "tailwindcss";
@import "@nuxt/ui";

@plugin 'tailwindcss-animate';

@layer base {
  :root {
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222, 47%, 11%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    --sky-100: hsl(210, 40%, 96%);
    --sky-200: hsl(213, 27%, 74%);

    --navy: hsl(222, 47%, 11%);

    --grey: rgba(217, 217, 217, 0.5);
  }

  @theme {
    --color-navy: var(--navy);
    --color-sky-100: var(--sky-100);
    --color-sky-200: var(--sky-200);
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-grey: var(--grey);

    --font-inter: "Inter", serif;
    --font-mulish: "Mulish", serif;
    --font-dm-serif: "DM Serif Text", serif;
    --font-newton: "Neuton", serif;
    --font-bona-nova: "Bona Nova", serif;
    --font-inknut: "Inknut Antiqua", serif;

    --text-nm: font-size: 16px;
  }

  * {
    @apply border-[hsl(var(--border))];
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}
