@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --primary-950: hsl(220, 100%, 10%);
  --primary-900: hsl(220, 100%, 25%);
  --primary-500: hsl(243, 100%, 70%);
  --primary-200: hsl(243, 100%, 90%);
  --primary-100: hsl(243, 100%, 95%);
}

@layer base {
  :root {
    --ui-primary: var(--primary-500);
    --ui-bg: color-mix(in oklab, var(--primary-200) 50%, transparent);
    --ui-text-default: var(--primary-950);
    --ui-text-muted: var(--primary-900);
  }

  .dark {
    --ui-primary: var(--primary-500);
    --ui-bg: var(--primary-950);
    --ui-text-default: var(--primary-200);
    --ui-text-muted: var(--primary-200);
  }
}
