.mulish {
  font-family: "Mulish", serif;
}

.inknut {
  font-family: "Inknut Antiqua", serif;
}

.bona {
  font-family: "Bona Nova", serif;
}

.inter {
  font-family: "Inter", serif;
}

.newton {
  font-family: "Neuton", serif;
}

.dm-serif-text {
  font-family: "DM Serif Text", serif;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}
